{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-4 bg-light rounded p-4" style="max-width: 800px;">
    <h1>¿Qué deseas comer?</h1>
    <p>Introduce lo que quieras comer</p>
    <h3>{{user_location}}</h3>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="q" id="search-input" class="form-control mb-3" value="{{ query }}" placeholder="Enter keyword">
        <div id="suggestions" class="list-group"></div>
        <p>Selecciona la ubicación donde te encuentras, para buscar el restaurante más cercano</p>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <input type="hidden" id="latitude" name="latitude" value="{% if user_latitude %}{{ user_latitude }}{% endif %}">
        <input type="hidden" id="longitude" name="longitude" value="{% if user_longitude %}{{ user_longitude }}{% endif %}">
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>
</div>

{% if results %}
    <h2>Results</h2>
    <p>Los siguientes restaurantes tienen el término buscado dentro de su menú:</p>
    <ul>
        {% for result in results %}
            <li class="container border p-3 mb-3">
                <h5>Descarga el menú aqui de {{result.company_name}}:</h5>
                <p>Distance: {{ result.distance }} km</p>
                <p>Coordinates: lat:{{result.latitude}}, lon:{{result.longitude}}</p>
                <form method="post" action="{% url 'get_file' %}">
                    {% csrf_token %}
                    <input type="hidden" name="file_name" value="{{ result.metadata_storage_name }}">
                    <button type="submit" class="btn btn-secondary">{{ result.metadata_storage_name }}</button>
                </form>

                <form method="post" action="{% url 'menu_description' %}">
                    {% csrf_token %}
                    <input type="hidden" name="raw_content" value="{{ result.content }}">
                    <button type="submit" class="btn btn-info">Get Menu Description</button>
                </form>

                <br>
                <!-- <p>RAW CONTENT: {{result.content}}</p> -->
            </li>
        {% endfor %}
    </ul>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var map = L.map('map').setView([40.39043439916734, -3.7866985501527037], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var marker;

        // Create custom icon for user location
        var userIcon = L.icon({
            iconUrl: '{% static "icons/marker.png" %}',
            iconSize: [60, 60], // size of the icon
            iconAnchor: [30, 30], // point of the icon which will correspond to marker's location
            popupAnchor: [0, -30], // point from which the popup should open relative to the iconAnchor
        });

        map.on('click', function(e) {
            var lat = e.latlng.lat;
            var lng = e.latlng.lng;

            if (marker) {
                map.removeLayer(marker);
            }

            marker = L.marker([lat, lng], {icon: userIcon}).addTo(map);

            document.getElementById('latitude').value = lat;
            document.getElementById('longitude').value = lng;
        });

        // Add markers for existing results
        {% if results %}
            {% for result in results %}
                L.marker([{{ result.latitude }}, {{ result.longitude }}]).addTo(map)
                    .bindPopup('<b>{{ result.company_name }}</b>').openPopup();
            {% endfor %}
        {% endif %}

        // Add custom icon marker for user location if available
        {% if user_latitude and user_longitude %}
            L.marker([{{ user_latitude }}, {{ user_longitude }}], {icon: userIcon}).addTo(map)
            .bindPopup('<b>Your Location</b>').openPopup();
        {% endif %}

        var searchInput = document.getElementById('search-input');
        var suggestionsBox = document.getElementById('suggestions');

        searchInput.addEventListener('input', function() {
            var query = searchInput.value;
            if (query.length > 2) {
                fetch(`/keyword_suggester?q=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        suggestionsBox.innerHTML = '';
                        data.suggestions.forEach(suggestion => {
                            var suggestionItem = document.createElement('a');
                            suggestionItem.className = 'list-group-item list-group-item-action';
                            suggestionItem.textContent = suggestion;
                            suggestionItem.addEventListener('click', function() {
                                searchInput.value = suggestion;
                                suggestionsBox.innerHTML = '';
                            });
                            suggestionsBox.appendChild(suggestionItem);
                        });
                    });
            } else {
                suggestionsBox.innerHTML = '';
            }
        });
    });
</script>
{% endblock %}