{% extends 'base.html' %}

{% block content %}
<div id="map" style="height: 600px;"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var map = L.map('map').setView([40.39043439916734, -3.7866985501527037], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var marker;

        map.on('click', function(e) {
            var lat = e.latlng.lat;
            var lng = e.latlng.lng;

            if (marker) {
                map.removeLayer(marker);
            }

            marker = L.marker([lat, lng]).addTo(map);

            document.getElementById('latitude').value = lat;
            document.getElementById('longitude').value = lng;
        });

        {% for company in companies %}
            L.marker([{{ company.latitude }}, {{ company.longitude }}]).addTo(map)
                .bindPopup('<b>{{ company.name }}</b>').openPopup();
        {% endfor %}
    });
</script>
{% endblock %}
